/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */

body{
    background: #d2d2d2;
}

#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 350px;
    margin: 0 auto;
}
@media only screen and (max-width: 400px) {
    #login .form-wrap {
        width: 100%;
        margin: 0 auto;
    }

    #logo-login{
        width: 100%;
    }
}

.retrieve-table {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table;
    margin-top: 20px;
    padding: 20px;
}

.retrieve-table  img{
    margin: 0 auto;
    display: table;
}

.retrieve-table h2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

#login h1 {
    color: #242121;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #B83039;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

.topo-login{
    margin-bottom: 20px;
    background: #fff;
    /*border-top: 1px solid #b32f37;*/
    border-bottom: 1px solid #b32f37;
    /*border-top: 1px solid #b32f37*/
    height: 20px;
    width: 100%;
    color: #242121;
    display: table;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.topo-login p{
    padding-top: 10px;
}

.form-wrap p{
    color: #f56531;
    font-weight: bold;
    line-height: 10px;
}

.form-wrap p::before{
    content: "* ";
}

.topo-login img{
    width: 70px;
    margin: 10px 30px 10px;
}

.cycle-slideshow{
    display: table;
    margin: 0 auto;
}

.marcas{
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
    display: block;
}

.marcas ul{
    display: table;
}

.marcas ul li{
    height: 30px;
    width: 40px;
    overflow: hidden;
    margin: 0px;
    display: inline;
    float: left;
}

.container-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    /*background: #d2d2d2;*/
}
.login-container{
    background: #fff;
    border-radius: 10px;
    border: solid #707070 1px;
}

.login-container div{
    padding: 15px;
}

.login-container .col-md-6 .superior{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.login-container .col-md-6 .inferior{
    margin-top: 0px;
    padding-top: 0px;
}

h1,h2,h3,h4{
    color: #b22e38;
    margin-top: 10px;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.btn-custom{
    border-width: 1px;
  border-color: rgb(112, 112, 112);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(35, 31, 32);
  width: 386px;
  height: 48px;
}

#username, #key{
    border-width: 1px;
  border-color: rgb(112, 112, 112);
  border-style: solid;
  border-radius: 5px;
}

input{
    margin-top: 15px;
    border-width: 1px;
  border-color: rgb(112, 112, 112);
  border-style: solid;
  border-radius: 5px;
}

#logo-login{
    width: 140px;
    margin: 0 auto;
    margin: 20px 20px 0px 50px;
}

.login-container .marcas {
    padding: 0px;
}

.login-container .marcas ul{
    padding: 0px;
    padding-left: 15px;
}

.marcas ul li img{
    width: 30px;
}

.login-container{
    margin-top: 120px;
}

.login-container.col-md-6 .form-login{
  margin-top: 15px;
  border-width: 1px;
  border-color: rgb(112, 112, 112);
  border-style: solid;
  border-radius: 5px;
  padding: 0px;
}


.login-container .checkbox{
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}

.login-container .checkbox .label{
    color: #333;
    float: right;
    margin-bottom: 15px;
}

.login-container .checkbox .label:hover{
color: #b22e38;
}

.navbar-default.navbar-fixed-bottom a,
.navbar-default.navbar-fixed-bottom{
    background: #232020;
    color: #fff;
    height: 20px;
}
